# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`

snippet uo
	${1:Operation Name}
		Summary - ${2:Summary goes here}
		Input   - 1. ${3:1st input goes here}
				  2. 
				  3. 
		Output  - 1. ${4:1st output goes here}
				  2. 
