snippet docs
	//=============================================================================
	//File: `Filename('$1.d', 'foo.d')`
	//Author: David Wells
	//Description: ${1}
	//=============================================================================
snippet cb1
	//-------------------------------------------------------------------------
	// ${1: Insight goes here}
	//-------------------------------------------------------------------------
snippet cb
	//-----------------------------------------------------------------------------
	// ${1: Insight goes here}
	//-----------------------------------------------------------------------------
snippet imp
	import ${1:std.stdio;}
	${2}
# main function
snippet main
	void main(char[][] args) {
		${1://code goes here}
	}
# write
snippet wr
	writeln(${1:"input goes here"});
# foreach loop!
snippet for
	foreach (${1:/*index*/}; ${2:/*range*/}) {
		${3:/*Loop*/}
	}
