snippet #!
	#!/usr/bin/octave -q

snippet func
	function [${1:output}] = ${2:`Filename('$1', 'foo')`}(${3:input})
	%------------------------------------------------------------------------------
	% function $2
	%
	% input: $3
	%
	% output: $1
	%
	% goal:
	%------------------------------------------------------------------------------
		${4:steps}
	end

# Module Docstring
snippet docs
	%==============================================================================
	% File: `Filename('$1.m')`
	% Author: David Wells
	% Description: ${1}
	% 
	% Function Call: `Filename('$1')`(${2})
	%==============================================================================
	
snippet wh
	while ${1:condition}
		${2:% code...}
	end

snippet for
	for ${1:needle} = ${2:haystack}
		${3:% code...}
	end

snippet if
	if ${1:needle} ${2:==} ${3:haystack}
		${4:% code...}
	end
	

# comment blocks!
snippet cb
	%------------------------------------------------------------------------------
	% ${1: comments go here}
	%------------------------------------------------------------------------------

snippet cb1
	%--------------------------------------------------------------------------
	% ${1: comments go here}
	%--------------------------------------------------------------------------

snippet cb2
	%----------------------------------------------------------------------
	% ${1: comments go here}
	%----------------------------------------------------------------------
