snippet cb
	/*-----------------------------------------------------------------------------
	- ${1:Comments go here}
	-----------------------------------------------------------------------------*/

snippet docs
	/*-----------------------------------------------------------------------------
	- Title: ${1}
	- Author: David Wells
	- Description: ${2}
	-----------------------------------------------------------------------------*/
