snippet #!
	#!/usr/bin/env Rscript

snippet imp
	import ${1:module}
# Module Docstring
snippet docs
	###############################################################################
	# File: `Filename('$1.R', 'foo.R')`
	# Author: `g:snips_author`
	# Description: ${1}
	###############################################################################
